@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


:root {
    --font-family-sans-serif: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.15;
}

.navbar {
    overflow: hidden;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    height: 50px;
}

.navbar__toggle {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    margin: 25px 25px;
}

/* Hamburger Menu */  
.bar1, .bar2, .bar3 {
    width: 37.5px;
    height: 3px;
    margin: 6px 6px;
    background: white;
    display: block;
    cursor: pointer;
    transition: 0.4s ease;
}

/* Popup Vertical Menu */
.navbar__menu {
    opacity: 1;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    position: fixed;
    top: 30%;
    bottom: 50%;
    left: 50%;
    margin-top: -50px;
    margin-bottom: -50px;
    margin-left: -100px;
    text-align: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 4rem;
    font-weight: 75%;
    background-color: transparent;
}

/* Home Text */
.main__container {
    position: fixed;
    color: #fff;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 75%;
    padding: 35px;
    margin-bottom: 1rem;
    top: 65%;
}


/* Rotate the first bar */
.change .bar1 {
    transform: rotate(45deg) translate(10px, 10px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate the third bar */
.change .bar3 {
    transform: rotate(-45deg) translate(2px, -2px);
}

/* Show the pop-up menu */
.change .navbar__menu {
    position: absolute;
    opacity: 1;
    color: #fff;
}

/* Link */
.uft, .dnl, .bcg, .kpmg {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.uft:hover, .dnl:hover, .bcg:hover, .kpmg:hover {
    opacity: 75%;
}

.home, .about, .projects, .contact {
    text-decoration: none;
    color: white;
    background-color: transparent;
    opacity: 1;
}

.home:hover, .about:hover, .projects:hover, .contact:hover {
    color: #87CEEB;
}

.change .home, .change .about, .change .projects, .change .contact {
    opacity: 1;
}